@import './assets/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat Alternates', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --max-screen-width-md: @apply md:max-w-4xl;
  --max-screen-width-xl: @apply xl:max-w-5xl;
  --max-screen-width-2xl: @apply 2xl:max-w-7xl;
}

body {
  margin: 0;
  min-height: 100vh;
  @apply bg-primary;
  color: rgba(255, 255, 255, 0.87);
}

.nav-link {
  @apply text-white no-underline;
}

.max-screen-width {
  @apply md:max-w-4xl lg:max-w-5xl 2xl:max-w-7xl;
}

.about-description ul {
  @apply pt-5 list-none grid grid-cols-2;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(170px, 1fr));
  }
}

.about-description li {
  @apply relative pl-5 text-lg;
}

.about-description li::before {
  content: "▹    ";
  @apply absolute left-0 text-active;
}

/* Animation */
.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.job-description {
  @apply list-none
}

.job-description li::before {
  content: "▹    ";
  @apply absolute left-0 text-active;
}

.job-description li {
  @apply relative pl-7 pb-4 text-lg;
}
